
@{
    ViewBag.Title = "About";
}

<div class="container">

    <div class="row">

        <div class="col-md-3">
            @Html.Partial("_PartialPageKategoriler")
        </div>

        <div class="col-md-9">

            <div>
                <h2 class="text-center">Consectetur adipiscing elit fusce vel.</h2>
                <hr />
                  <img src="~/image/_sunset.jpg" alt="" />
                <hr />
                <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
            </div>

         

        </div>

    </div>

</div>


