
@{
    ViewBag.Title = "Kayit Başarılı";
}

<h2>Kayit Başarılı </h2>
<div class="container">
    <div class="text-success">
        <p>
            Kayıt işlemi gerçekleştirildi.Aktivasyon için mailinizi kontrol ediniz.
        </p>
    </div>
</div>


<script>

    $(function () {
        setTimeout(function () { window.location = "/Home/Index" },5000);
    });
</script>

