
@{
    ViewBag.Title = "Hesap Aktifleştirme";
}

<h2>UserActivate</h2>
<div class="container">
    <div class="text-success">
        <p>
            Hesabınız aktifleştirildi.
        </p>
    </div>
</div>


<script>

    $(function () {
        setTimeout(function () { window.location = "/Home/Index" },5000);
    });
</script>