@model List<string>
@{
    ViewBag.Title = "Error";
}

<h2>UserActivateError</h2>
<div class="container">

</div>
<div class="text-danger">
    @foreach (var item in Model)
{
    <p>
        @item
    </p>
    <br />

}
    </div>

