@using Makale_Entities

@model List<Yorum>

@{
    Kullanici kullanici = null;
    if (Session["login"] != null)
    {
        kullanici = (Kullanici)Session["login"];
    }
}

@foreach (var item in Model)
{
    <div class="media">
        <div class="media-left">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
        <div class="media-body">
            <div>
                <span class="col-md-10" id="text_@item.Id" contenteditable="false">@item.Text</span>

                @if (kullanici != null && kullanici.Id == item.Kullanici.Id)
                {
                    <span class="col-md-2 text-right">

                        <button type="button" class="btn btn-warning btn-xs" data-edit="false" onclick="yorumislem(this,'update',@item.Id, text_@item.Id);">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>

                        <button type="button" class="btn btn-danger btn-xs" onclick="yorumislem(this,'delete',@item.Id);">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>

                    </span>
                }

                <small class="col-md-12 text-right">
                    <span class="glyphicon glyphicon-time"></span>@item.DegistirmeTarihi
                    <span class="glyphicon glyphicon-user"></span>@item.Kullanici.KullaniciAdi
                </small>
            </div>
        </div>
    </div>
}

@if (kullanici != null)
{
    <div class="row">
        <hr />  
    </div>
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" id="yorum_text" placeholder="Yorumunuz...">
            <span class="input-group-btn">
                <button class="btn btn-default" onclick="yorumislem(this,'create');" type="button">Kaydet</button>
            </span>
        </div>
    </div>
}